<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
</head>
<body>
  <form action="" method="POST">
    {{ range $key, $value := . }}
      <div class="item-container">
        <label for="{{$value.browsername}}">{{$value.name}}</label>
        <input type="text" name="{{$value.browsername}}" placeholder="0" />
      </div>
    {{ end }}
    <input type="submit" value="Vásárlás"/>
  </form>
</body>
</html>