<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank you</title>
</head>
<body>
  <h6>You purchased: </h6>
  {{ range .cart }}
    <li>{{$.name}}</li>
  {{ end }}
  <h4>A discount of ${{.discountRate}} ({{.chosenDiscount}}) was applied to your purchase.</h4>
</body>
</html>